<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>What would you like to add to your pantry, <%= user.username %>?</h1>
    <form action="/users/<%= user.userId%>/foods/new" method="POST">
        <label for="name">Name: </label>
        <input type="text" name="name" id="name">
    </form>
</body>

</html>